<nav class="tab-bar show-for-small">
  <div class="left-small">
    <a role="button" aria-expanded="true" aria-controls="idOfLeftMenu" class="left-off-canvas-toggle menu-icon" ><span></span></a>
  </div>
  <section class="middle tab-bar-section">
    <h1 class="title">KangarooBox</h1>
  </section>
</nav>


<nav class="top-bar hide-for-small" data-topbar="">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">KangarooBox</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><a href="/about">About</a></li>
      <li class="divider"></li>
      <li><a href="/posts">Blog</a></li>
      <li class="divider"></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </section>
</nav>


<header>
  <div class="row show-for-small">
    <div class="panel small-12 columns">
      <div class="row">
        <div class="small-10 columns">
          <h2>We make <em>IT</em> simple!</h2>
        </div>
        <div class="small-2 columns">
          <img src="/assets/images/logo.png" />
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
        <h5 class="subheader">At KangarooBox we strive to make our solutions easy to buy, install, and use.</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row hide-for-small">
    <div class="panel small-12 columns">
      <div class="small-2 columns">
        <img src="/assets/images/logo.png" />
      </div>
      <div class="small-10 columns ">
        <h1>We make <em>IT</em> simple!</h1>
        <h5 class="subheader">At KangarooBox we strive to make our solutions easy to buy, install, and use.</h5>
      </div>
    </div>
  </div>
</header>
