<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if page.excerpt %}
  <meta name="description" content="{{page.excerpt | strip_html | truncatewords:25}}" />
  {% endif %}
  <title>
    {% if page.title != null %}
      {{ page.title }} -
    {% endif %}
    KangarooBox
  </title>
  <link rel="stylesheet" href="/css/foundation.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <script src="/js/vendor/modernizr.js"></script>
  {% include analytics.html %}
</head>
